.exam-details{
    width: 100%;
    min-height: 92vh;
    top: 8vh;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebecf0;
}
.exam-card{
    width:80%;
    height:12vh;
    margin: 3vh 0;
    display: flex;
    flex-direction: row;
    background-color: #ebecf0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.exam-card-title{
    width: 80%;
    height:12vh;
    padding-left: 5%;
    display: flex;
    align-items: center;
    font-size: 3.5vh;
    font-weight: 700;
}
.exam-btn{
    height: 7vh;
    border:none;
    outline: none;
    margin: 2.5vh 5%;
}
.exam-table{
    width:80%;
}

